__pycache__/
nohup**
image/clamp/cover/*
image/clamp/stego/*
image/clamp/secret/*
image/clamp/secret_rev/*
!image/clamp/cover/.gitkeep
!image/clamp/stego/.gitkeep
!image/clamp/secret/.gitkeep
!image/clamp/secret_rev/.gitkeep
image/wo_clamp/cover/*
image/wo_clamp/stego/*
image/wo_clamp/secret/*
image/wo_clamp/secret_rev/*
!image/wo_clamp/cover/.gitkeep
!image/wo_clamp/stego/.gitkeep
!image/wo_clamp/secret/.gitkeep
!image/wo_clamp/secret_rev/.gitkeep
checkpoint/*
!checkpoint/.gitkeep
tensorboard_log/*
!tensorboard_log/.gitkeep